body{
    background :red;
}
.login_div1,.login_div2
{
    background-color: yellow;
    padding: 10px;
    float:none;
    border: radius 10px;
}
#Username_1,#Username_2
{
display:inline-block;
margin: left;
}
